.section_main{
    display: flex;
    width: 100%;
    padding-top: 130px;

    .section_about{
        width: 25%;
        text-align: center;
        margin-bottom: 90px;

        img{
            width: 40px;
            height: 40px;
            margin-bottom: 65px;
            
            transition: .2s;

            &:hover{
                width: 117px;
                height: 117px;
                background-color: #e54c4c;
                border-radius: 60px;
                padding: 35px;
                margin-top: -40px;
                margin-bottom: 20px;
                transition: .2s;

            }
        }

        h3{
        color: #232323;
        font-size: 30px;
        padding-bottom: 34px;
        }
    
        p{
            color: #666666;
            font-size: 13px;
        }

    }
}