.team{
    .team_about{
        display: flex;
        width: 100%;
        .team_about-us{
            text-align: center;
            color: #848994;
            margin-bottom: 70px;
            img{
                width: 185px;
                height: 186px;
                border-radius: 100px;
            }
            h2{
                color:#3b4550;
                font-size: 14px;
                text-transform: uppercase;
                padding-top: 30px;
                font-weight: bold;
            }
            h3{
                color: #9fa4af;
                text-transform: uppercase;
                padding-top: 5px;
            }
            p{
                font-size: 13px;
                line-height: 26px;
                padding: 20px 30px;
            }
            .team_icon{
                a{
                    text-decoration: none;
                    color: #c5c9d2;
                    font-size: 13px;
                    &:hover{
                        color: #dd0606;
                    }
                }
                .icon-facebook{
                    padding-left: 25px;
                }
                .icon-google{
                    padding-left: 25px;
                }
            }
        }
    }
    .team_bg{
        background-color: #e54c4c;
        .team_bg-text{
            display: flex;
            width: 100%;
            color: #ffffff;
            padding-top: 60px;
            padding-bottom: 50px;
            p{
               font-size: 22px; 
               word-spacing: 2px;
               letter-spacing: 2px;
               padding-left: 70px;
            }
            a{
                font-size: 20px;
                color: #ffffff;
                text-decoration: none;
                padding-top: 1px;
                margin-left: 90px;
                &:hover{
                    color: #101113;
                }
            }
        }
    }
}